<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.clementleetimfu.educationmanagementsystem.mapper.ActivityLogMapper">

    <insert id="addActivityLog">
        INSERT INTO activity_log (
        operate_emp_id,
        operate_time,
        class_name,
        method_name,
        method_params,
        return_value,
        duration,
        create_time,
        update_time,
        is_deleted
        )
        VALUES (
        #{operateEmpId},
        #{operateTime},
        #{className},
        #{methodName},
        #{methodParams},
        #{returnValue},
        #{duration},
        #{createTime},
        #{updateTime},
        #{isDeleted}
        )
    </insert>
    
</mapper>